body{
    text-align: center;
}

#pultrah{
    background-color: lightsalmon;
}







section{
    
    color:blueviolet;
}



#bio{
    
 color:yellowgreen;  
    
    background-color: darkcyan;
}